*{
    margin: 0 auto;
    padding: 0;
}

body{
    background-image: url("../img/background.jpg");
    background-size: cover;
}

.max-width{
    max-width:900px;
    width:100%;
}



  
.red-alert{
    color: red;
    font-size: 0.9em;
  }
  